--
-- PostgreSQL database dump
--

-- Dumped from database version 15.13
-- Dumped by pg_dump version 15.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: accounts_userprofile; Type: TABLE; Schema: public; Owner: petshop_user
--

CREATE TABLE public.accounts_userprofile (
    id bigint NOT NULL,
    phone_number character varying(20) NOT NULL,
    address text NOT NULL,
    city character varying(100) NOT NULL,
    postal_code character varying(10) NOT NULL,
    country character varying(100) NOT NULL,
    date_of_birth date,
    profile_picture character varying(100),
    newsletter_subscription boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.accounts_userprofile OWNER TO petshop_user;

--
-- Name: accounts_userprofile_id_seq; Type: SEQUENCE; Schema: public; Owner: petshop_user
--

ALTER TABLE public.accounts_userprofile ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_userprofile_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: petshop_user
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO petshop_user;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: petshop_user
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: petshop_user
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO petshop_user;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: petshop_user
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: petshop_user
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO petshop_user;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: petshop_user
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: petshop_user
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO petshop_user;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: petshop_user
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO petshop_user;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: petshop_user
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: petshop_user
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: petshop_user
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO petshop_user;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: petshop_user
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: petshop_user
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO petshop_user;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: petshop_user
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: petshop_user
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO petshop_user;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: petshop_user
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: petshop_user
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO petshop_user;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: petshop_user
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: petshop_user
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO petshop_user;

--
-- Name: orders_order; Type: TABLE; Schema: public; Owner: petshop_user
--

CREATE TABLE public.orders_order (
    id bigint NOT NULL,
    order_number character varying(100) NOT NULL,
    status character varying(20) NOT NULL,
    total_amount numeric(10,2) NOT NULL,
    shipping_address text NOT NULL,
    billing_address text NOT NULL,
    phone_number character varying(20) NOT NULL,
    email character varying(254) NOT NULL,
    notes text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.orders_order OWNER TO petshop_user;

--
-- Name: orders_order_id_seq; Type: SEQUENCE; Schema: public; Owner: petshop_user
--

ALTER TABLE public.orders_order ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.orders_order_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: orders_orderitem; Type: TABLE; Schema: public; Owner: petshop_user
--

CREATE TABLE public.orders_orderitem (
    id bigint NOT NULL,
    quantity integer NOT NULL,
    price numeric(10,2) NOT NULL,
    order_id bigint NOT NULL,
    product_id bigint NOT NULL,
    CONSTRAINT orders_orderitem_quantity_check CHECK ((quantity >= 0))
);


ALTER TABLE public.orders_orderitem OWNER TO petshop_user;

--
-- Name: orders_orderitem_id_seq; Type: SEQUENCE; Schema: public; Owner: petshop_user
--

ALTER TABLE public.orders_orderitem ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.orders_orderitem_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: shop_cart; Type: TABLE; Schema: public; Owner: petshop_user
--

CREATE TABLE public.shop_cart (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.shop_cart OWNER TO petshop_user;

--
-- Name: shop_cart_id_seq; Type: SEQUENCE; Schema: public; Owner: petshop_user
--

ALTER TABLE public.shop_cart ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.shop_cart_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: shop_cartitem; Type: TABLE; Schema: public; Owner: petshop_user
--

CREATE TABLE public.shop_cartitem (
    id bigint NOT NULL,
    quantity integer NOT NULL,
    created_at timestamp with time zone NOT NULL,
    cart_id bigint NOT NULL,
    product_id bigint NOT NULL,
    CONSTRAINT shop_cartitem_quantity_check CHECK ((quantity >= 0))
);


ALTER TABLE public.shop_cartitem OWNER TO petshop_user;

--
-- Name: shop_cartitem_id_seq; Type: SEQUENCE; Schema: public; Owner: petshop_user
--

ALTER TABLE public.shop_cartitem ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.shop_cartitem_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: shop_category; Type: TABLE; Schema: public; Owner: petshop_user
--

CREATE TABLE public.shop_category (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    slug character varying(100) NOT NULL,
    description text NOT NULL,
    image character varying(100),
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.shop_category OWNER TO petshop_user;

--
-- Name: shop_category_id_seq; Type: SEQUENCE; Schema: public; Owner: petshop_user
--

ALTER TABLE public.shop_category ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.shop_category_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: shop_product; Type: TABLE; Schema: public; Owner: petshop_user
--

CREATE TABLE public.shop_product (
    id bigint NOT NULL,
    name character varying(200) NOT NULL,
    slug character varying(200) NOT NULL,
    description text NOT NULL,
    price numeric(10,2) NOT NULL,
    discount_price numeric(10,2),
    image character varying(100) NOT NULL,
    stock_quantity integer NOT NULL,
    stock_status character varying(20) NOT NULL,
    is_featured boolean NOT NULL,
    is_active boolean NOT NULL,
    weight numeric(5,2),
    brand character varying(100) NOT NULL,
    age_group character varying(50) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    category_id bigint NOT NULL,
    CONSTRAINT shop_product_stock_quantity_check CHECK ((stock_quantity >= 0))
);


ALTER TABLE public.shop_product OWNER TO petshop_user;

--
-- Name: shop_product_id_seq; Type: SEQUENCE; Schema: public; Owner: petshop_user
--

ALTER TABLE public.shop_product ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.shop_product_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: shop_productimage; Type: TABLE; Schema: public; Owner: petshop_user
--

CREATE TABLE public.shop_productimage (
    id bigint NOT NULL,
    image character varying(100) NOT NULL,
    alt_text character varying(255) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    product_id bigint NOT NULL
);


ALTER TABLE public.shop_productimage OWNER TO petshop_user;

--
-- Name: shop_productimage_id_seq; Type: SEQUENCE; Schema: public; Owner: petshop_user
--

ALTER TABLE public.shop_productimage ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.shop_productimage_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: shop_review; Type: TABLE; Schema: public; Owner: petshop_user
--

CREATE TABLE public.shop_review (
    id bigint NOT NULL,
    rating integer NOT NULL,
    title character varying(200) NOT NULL,
    comment text NOT NULL,
    is_verified_purchase boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    product_id bigint NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.shop_review OWNER TO petshop_user;

--
-- Name: shop_review_id_seq; Type: SEQUENCE; Schema: public; Owner: petshop_user
--

ALTER TABLE public.shop_review ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.shop_review_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: shop_wishlist; Type: TABLE; Schema: public; Owner: petshop_user
--

CREATE TABLE public.shop_wishlist (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.shop_wishlist OWNER TO petshop_user;

--
-- Name: shop_wishlist_id_seq; Type: SEQUENCE; Schema: public; Owner: petshop_user
--

ALTER TABLE public.shop_wishlist ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.shop_wishlist_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: shop_wishlist_products; Type: TABLE; Schema: public; Owner: petshop_user
--

CREATE TABLE public.shop_wishlist_products (
    id bigint NOT NULL,
    wishlist_id bigint NOT NULL,
    product_id bigint NOT NULL
);


ALTER TABLE public.shop_wishlist_products OWNER TO petshop_user;

--
-- Name: shop_wishlist_products_id_seq; Type: SEQUENCE; Schema: public; Owner: petshop_user
--

ALTER TABLE public.shop_wishlist_products ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.shop_wishlist_products_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: accounts_userprofile; Type: TABLE DATA; Schema: public; Owner: petshop_user
--

COPY public.accounts_userprofile (id, phone_number, address, city, postal_code, country, date_of_birth, profile_picture, newsletter_subscription, created_at, updated_at, user_id) FROM stdin;
5						\N		f	2025-08-10 17:12:42.244821+00	2025-08-10 17:12:42.246751+00	5
6						\N		f	2025-08-14 17:10:28.034772+00	2025-08-14 17:10:54.794047+00	7
1						\N		f	2025-08-10 16:29:25.488114+00	2025-08-14 18:20:28.059489+00	1
4						\N		f	2025-08-10 17:12:42.000737+00	2025-08-20 19:06:13.624248+00	4
\.


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: petshop_user
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: petshop_user
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: petshop_user
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: petshop_user
--



--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: petshop_user
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: petshop_user
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: petshop_user
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: petshop_user
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	auth	user
5	contenttypes	contenttype
6	sessions	session
7	shop	category
8	shop	product
9	shop	productimage
10	shop	review
11	shop	cart
12	shop	cartitem
13	shop	wishlist
14	accounts	userprofile
15	orders	order
16	orders	orderitem
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: petshop_user
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: petshop_user
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
\.


--
-- Data for Name: orders_order; Type: TABLE DATA; Schema: public; Owner: petshop_user
--



--
-- Data for Name: orders_orderitem; Type: TABLE DATA; Schema: public; Owner: petshop_user
--

COPY public.orders_orderitem (id, quantity, price, order_id, product_id) FROM stdin;
1	1	39.99	1	19
2	1	12.99	2	21
\.


--
-- Data for Name: shop_cart; Type: TABLE DATA; Schema: public; Owner: petshop_user
--

COPY public.shop_cart (id, created_at, updated_at, user_id) FROM stdin;
2	2025-08-14 16:32:18.962124+00	2025-08-14 16:32:18.962176+00	1
3	2025-08-14 17:11:33.338213+00	2025-08-14 17:11:33.338231+00	7
4	2025-08-14 18:10:28.37479+00	2025-08-14 18:10:28.374994+00	4
\.


--
-- Data for Name: shop_cartitem; Type: TABLE DATA; Schema: public; Owner: petshop_user
--

COPY public.shop_cartitem (id, quantity, created_at, cart_id, product_id) FROM stdin;
6	1	2025-08-20 14:20:28.031833+00	2	23
\.


--
-- Data for Name: shop_category; Type: TABLE DATA; Schema: public; Owner: petshop_user
--



--
-- Data for Name: shop_product; Type: TABLE DATA; Schema: public; Owner: petshop_user
--



--
-- Data for Name: shop_productimage; Type: TABLE DATA; Schema: public; Owner: petshop_user
--

COPY public.shop_productimage (id, image, alt_text, created_at, product_id) FROM stdin;
\.


--
-- Data for Name: shop_review; Type: TABLE DATA; Schema: public; Owner: petshop_user
--

COPY public.shop_review (id, rating, title, comment, is_verified_purchase, created_at, updated_at, product_id, user_id) FROM stdin;
\.


--
-- Data for Name: shop_wishlist; Type: TABLE DATA; Schema: public; Owner: petshop_user
--

COPY public.shop_wishlist (id, created_at, user_id) FROM stdin;
1	2025-08-14 17:07:23.276452+00	4
2	2025-08-14 17:36:53.624919+00	7
\.


--
-- Data for Name: shop_wishlist_products; Type: TABLE DATA; Schema: public; Owner: petshop_user
--

COPY public.shop_wishlist_products (id, wishlist_id, product_id) FROM stdin;
3	1	25
5	1	20
\.


--
-- Name: accounts_userprofile_id_seq; Type: SEQUENCE SET; Schema: public; Owner: petshop_user
--

SELECT pg_catalog.setval('public.accounts_userprofile_id_seq', 6, true);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: petshop_user
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: petshop_user
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: petshop_user
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 64, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: petshop_user
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: petshop_user
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 7, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: petshop_user
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: petshop_user
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: petshop_user
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 16, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: petshop_user
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 21, true);


--
-- Name: orders_order_id_seq; Type: SEQUENCE SET; Schema: public; Owner: petshop_user
--

SELECT pg_catalog.setval('public.orders_order_id_seq', 2, true);


--
-- Name: orders_orderitem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: petshop_user
--

SELECT pg_catalog.setval('public.orders_orderitem_id_seq', 2, true);


--
-- Name: shop_cart_id_seq; Type: SEQUENCE SET; Schema: public; Owner: petshop_user
--

SELECT pg_catalog.setval('public.shop_cart_id_seq', 4, true);


--
-- Name: shop_cartitem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: petshop_user
--

SELECT pg_catalog.setval('public.shop_cartitem_id_seq', 6, true);


--
-- Name: shop_category_id_seq; Type: SEQUENCE SET; Schema: public; Owner: petshop_user
--

SELECT pg_catalog.setval('public.shop_category_id_seq', 6, true);


--
-- Name: shop_product_id_seq; Type: SEQUENCE SET; Schema: public; Owner: petshop_user
--

SELECT pg_catalog.setval('public.shop_product_id_seq', 26, true);


--
-- Name: shop_productimage_id_seq; Type: SEQUENCE SET; Schema: public; Owner: petshop_user
--

SELECT pg_catalog.setval('public.shop_productimage_id_seq', 1, false);


--
-- Name: shop_review_id_seq; Type: SEQUENCE SET; Schema: public; Owner: petshop_user
--

SELECT pg_catalog.setval('public.shop_review_id_seq', 1, false);


--
-- Name: shop_wishlist_id_seq; Type: SEQUENCE SET; Schema: public; Owner: petshop_user
--

SELECT pg_catalog.setval('public.shop_wishlist_id_seq', 2, true);


--
-- Name: shop_wishlist_products_id_seq; Type: SEQUENCE SET; Schema: public; Owner: petshop_user
--

SELECT pg_catalog.setval('public.shop_wishlist_products_id_seq', 5, true);


--
-- Name: accounts_userprofile accounts_userprofile_pkey; Type: CONSTRAINT; Schema: public; Owner: petshop_user
--

ALTER TABLE ONLY public.accounts_userprofile
    ADD CONSTRAINT accounts_userprofile_pkey PRIMARY KEY (id);


--
-- Name: accounts_userprofile accounts_userprofile_user_id_key; Type: CONSTRAINT; Schema: public; Owner: petshop_user
--

ALTER TABLE ONLY public.accounts_userprofile
    ADD CONSTRAINT accounts_userprofile_user_id_key UNIQUE (user_id);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: petshop_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: petshop_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: petshop_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: petshop_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: petshop_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: petshop_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: petshop_user
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: petshop_user
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: petshop_user
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: petshop_user
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: petshop_user
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: petshop_user
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: petshop_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: petshop_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: petshop_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: petshop_user
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: petshop_user
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: orders_order orders_order_order_number_key; Type: CONSTRAINT; Schema: public; Owner: petshop_user
--

ALTER TABLE ONLY public.orders_order
    ADD CONSTRAINT orders_order_order_number_key UNIQUE (order_number);


--
-- Name: orders_order orders_order_pkey; Type: CONSTRAINT; Schema: public; Owner: petshop_user
--

ALTER TABLE ONLY public.orders_order
    ADD CONSTRAINT orders_order_pkey PRIMARY KEY (id);


--
-- Name: orders_orderitem orders_orderitem_pkey; Type: CONSTRAINT; Schema: public; Owner: petshop_user
--

ALTER TABLE ONLY public.orders_orderitem
    ADD CONSTRAINT orders_orderitem_pkey PRIMARY KEY (id);


--
-- Name: shop_cart shop_cart_pkey; Type: CONSTRAINT; Schema: public; Owner: petshop_user
--

ALTER TABLE ONLY public.shop_cart
    ADD CONSTRAINT shop_cart_pkey PRIMARY KEY (id);


--
-- Name: shop_cart shop_cart_user_id_key; Type: CONSTRAINT; Schema: public; Owner: petshop_user
--

ALTER TABLE ONLY public.shop_cart
    ADD CONSTRAINT shop_cart_user_id_key UNIQUE (user_id);


--
-- Name: shop_cartitem shop_cartitem_cart_id_product_id_eacadbd7_uniq; Type: CONSTRAINT; Schema: public; Owner: petshop_user
--

ALTER TABLE ONLY public.shop_cartitem
    ADD CONSTRAINT shop_cartitem_cart_id_product_id_eacadbd7_uniq UNIQUE (cart_id, product_id);


--
-- Name: shop_cartitem shop_cartitem_pkey; Type: CONSTRAINT; Schema: public; Owner: petshop_user
--

ALTER TABLE ONLY public.shop_cartitem
    ADD CONSTRAINT shop_cartitem_pkey PRIMARY KEY (id);


--
-- Name: shop_category shop_category_name_key; Type: CONSTRAINT; Schema: public; Owner: petshop_user
--

ALTER TABLE ONLY public.shop_category
    ADD CONSTRAINT shop_category_name_key UNIQUE (name);


--
-- Name: shop_category shop_category_pkey; Type: CONSTRAINT; Schema: public; Owner: petshop_user
--

ALTER TABLE ONLY public.shop_category
    ADD CONSTRAINT shop_category_pkey PRIMARY KEY (id);


--
-- Name: shop_category shop_category_slug_key; Type: CONSTRAINT; Schema: public; Owner: petshop_user
--

ALTER TABLE ONLY public.shop_category
    ADD CONSTRAINT shop_category_slug_key UNIQUE (slug);


--
-- Name: shop_product shop_product_pkey; Type: CONSTRAINT; Schema: public; Owner: petshop_user
--

ALTER TABLE ONLY public.shop_product
    ADD CONSTRAINT shop_product_pkey PRIMARY KEY (id);


--
-- Name: shop_product shop_product_slug_key; Type: CONSTRAINT; Schema: public; Owner: petshop_user
--

ALTER TABLE ONLY public.shop_product
    ADD CONSTRAINT shop_product_slug_key UNIQUE (slug);


--
-- Name: shop_productimage shop_productimage_pkey; Type: CONSTRAINT; Schema: public; Owner: petshop_user
--

ALTER TABLE ONLY public.shop_productimage
    ADD CONSTRAINT shop_productimage_pkey PRIMARY KEY (id);


--
-- Name: shop_review shop_review_pkey; Type: CONSTRAINT; Schema: public; Owner: petshop_user
--

ALTER TABLE ONLY public.shop_review
    ADD CONSTRAINT shop_review_pkey PRIMARY KEY (id);


--
-- Name: shop_review shop_review_product_id_user_id_34338eec_uniq; Type: CONSTRAINT; Schema: public; Owner: petshop_user
--

ALTER TABLE ONLY public.shop_review
    ADD CONSTRAINT shop_review_product_id_user_id_34338eec_uniq UNIQUE (product_id, user_id);


--
-- Name: shop_wishlist shop_wishlist_pkey; Type: CONSTRAINT; Schema: public; Owner: petshop_user
--

ALTER TABLE ONLY public.shop_wishlist
    ADD CONSTRAINT shop_wishlist_pkey PRIMARY KEY (id);


--
-- Name: shop_wishlist_products shop_wishlist_products_pkey; Type: CONSTRAINT; Schema: public; Owner: petshop_user
--

ALTER TABLE ONLY public.shop_wishlist_products
    ADD CONSTRAINT shop_wishlist_products_pkey PRIMARY KEY (id);


--
-- Name: shop_wishlist_products shop_wishlist_products_wishlist_id_product_id_d79d8a60_uniq; Type: CONSTRAINT; Schema: public; Owner: petshop_user
--

ALTER TABLE ONLY public.shop_wishlist_products
    ADD CONSTRAINT shop_wishlist_products_wishlist_id_product_id_d79d8a60_uniq UNIQUE (wishlist_id, product_id);


--
-- Name: shop_wishlist shop_wishlist_user_id_key; Type: CONSTRAINT; Schema: public; Owner: petshop_user
--

ALTER TABLE ONLY public.shop_wishlist
    ADD CONSTRAINT shop_wishlist_user_id_key UNIQUE (user_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: petshop_user
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: petshop_user
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: petshop_user
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: petshop_user
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: petshop_user
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: petshop_user
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: petshop_user
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: petshop_user
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: petshop_user
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: petshop_user
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: petshop_user
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: petshop_user
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: petshop_user
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: orders_order_order_number_4e985f70_like; Type: INDEX; Schema: public; Owner: petshop_user
--

CREATE INDEX orders_order_order_number_4e985f70_like ON public.orders_order USING btree (order_number varchar_pattern_ops);


--
-- Name: orders_order_user_id_e9b59eb1; Type: INDEX; Schema: public; Owner: petshop_user
--

CREATE INDEX orders_order_user_id_e9b59eb1 ON public.orders_order USING btree (user_id);


--
-- Name: orders_orderitem_order_id_fe61a34d; Type: INDEX; Schema: public; Owner: petshop_user
--

CREATE INDEX orders_orderitem_order_id_fe61a34d ON public.orders_orderitem USING btree (order_id);


--
-- Name: orders_orderitem_product_id_afe4254a; Type: INDEX; Schema: public; Owner: petshop_user
--

CREATE INDEX orders_orderitem_product_id_afe4254a ON public.orders_orderitem USING btree (product_id);


--
-- Name: shop_cartitem_cart_id_6bf1447e; Type: INDEX; Schema: public; Owner: petshop_user
--

CREATE INDEX shop_cartitem_cart_id_6bf1447e ON public.shop_cartitem USING btree (cart_id);


--
-- Name: shop_cartitem_product_id_09e4b7dd; Type: INDEX; Schema: public; Owner: petshop_user
--

CREATE INDEX shop_cartitem_product_id_09e4b7dd ON public.shop_cartitem USING btree (product_id);


--
-- Name: shop_category_name_11b68823_like; Type: INDEX; Schema: public; Owner: petshop_user
--

CREATE INDEX shop_category_name_11b68823_like ON public.shop_category USING btree (name varchar_pattern_ops);


--
-- Name: shop_category_slug_4508178e_like; Type: INDEX; Schema: public; Owner: petshop_user
--

CREATE INDEX shop_category_slug_4508178e_like ON public.shop_category USING btree (slug varchar_pattern_ops);


--
-- Name: shop_produc_categor_6c2d8c_idx; Type: INDEX; Schema: public; Owner: petshop_user
--

CREATE INDEX shop_produc_categor_6c2d8c_idx ON public.shop_product USING btree (category_id, is_active);


--
-- Name: shop_produc_is_feat_a70478_idx; Type: INDEX; Schema: public; Owner: petshop_user
--

CREATE INDEX shop_produc_is_feat_a70478_idx ON public.shop_product USING btree (is_featured, is_active);


--
-- Name: shop_product_category_id_14d7eea8; Type: INDEX; Schema: public; Owner: petshop_user
--

CREATE INDEX shop_product_category_id_14d7eea8 ON public.shop_product USING btree (category_id);


--
-- Name: shop_product_slug_30bd2d5d_like; Type: INDEX; Schema: public; Owner: petshop_user
--

CREATE INDEX shop_product_slug_30bd2d5d_like ON public.shop_product USING btree (slug varchar_pattern_ops);


--
-- Name: shop_productimage_product_id_65b3b20c; Type: INDEX; Schema: public; Owner: petshop_user
--

CREATE INDEX shop_productimage_product_id_65b3b20c ON public.shop_productimage USING btree (product_id);


--
-- Name: shop_review_product_id_f74dddfd; Type: INDEX; Schema: public; Owner: petshop_user
--

CREATE INDEX shop_review_product_id_f74dddfd ON public.shop_review USING btree (product_id);


--
-- Name: shop_review_user_id_02dce754; Type: INDEX; Schema: public; Owner: petshop_user
--

CREATE INDEX shop_review_user_id_02dce754 ON public.shop_review USING btree (user_id);


--
-- Name: shop_wishlist_products_product_id_017f8a4c; Type: INDEX; Schema: public; Owner: petshop_user
--

CREATE INDEX shop_wishlist_products_product_id_017f8a4c ON public.shop_wishlist_products USING btree (product_id);


--
-- Name: shop_wishlist_products_wishlist_id_7a449092; Type: INDEX; Schema: public; Owner: petshop_user
--

CREATE INDEX shop_wishlist_products_wishlist_id_7a449092 ON public.shop_wishlist_products USING btree (wishlist_id);


--
-- Name: accounts_userprofile accounts_userprofile_user_id_92240672_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: petshop_user
--

ALTER TABLE ONLY public.accounts_userprofile
    ADD CONSTRAINT accounts_userprofile_user_id_92240672_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: petshop_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: petshop_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: petshop_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: petshop_user
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: petshop_user
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: petshop_user
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: petshop_user
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: petshop_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: petshop_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: orders_order orders_order_user_id_e9b59eb1_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: petshop_user
--

ALTER TABLE ONLY public.orders_order
    ADD CONSTRAINT orders_order_user_id_e9b59eb1_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: orders_orderitem orders_orderitem_order_id_fe61a34d_fk_orders_order_id; Type: FK CONSTRAINT; Schema: public; Owner: petshop_user
--

ALTER TABLE ONLY public.orders_orderitem
    ADD CONSTRAINT orders_orderitem_order_id_fe61a34d_fk_orders_order_id FOREIGN KEY (order_id) REFERENCES public.orders_order(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: orders_orderitem orders_orderitem_product_id_afe4254a_fk_shop_product_id; Type: FK CONSTRAINT; Schema: public; Owner: petshop_user
--

ALTER TABLE ONLY public.orders_orderitem
    ADD CONSTRAINT orders_orderitem_product_id_afe4254a_fk_shop_product_id FOREIGN KEY (product_id) REFERENCES public.shop_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: shop_cart shop_cart_user_id_27925ac6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: petshop_user
--

ALTER TABLE ONLY public.shop_cart
    ADD CONSTRAINT shop_cart_user_id_27925ac6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: shop_cartitem shop_cartitem_cart_id_6bf1447e_fk_shop_cart_id; Type: FK CONSTRAINT; Schema: public; Owner: petshop_user
--

ALTER TABLE ONLY public.shop_cartitem
    ADD CONSTRAINT shop_cartitem_cart_id_6bf1447e_fk_shop_cart_id FOREIGN KEY (cart_id) REFERENCES public.shop_cart(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: shop_cartitem shop_cartitem_product_id_09e4b7dd_fk_shop_product_id; Type: FK CONSTRAINT; Schema: public; Owner: petshop_user
--

ALTER TABLE ONLY public.shop_cartitem
    ADD CONSTRAINT shop_cartitem_product_id_09e4b7dd_fk_shop_product_id FOREIGN KEY (product_id) REFERENCES public.shop_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: shop_product shop_product_category_id_14d7eea8_fk_shop_category_id; Type: FK CONSTRAINT; Schema: public; Owner: petshop_user
--

ALTER TABLE ONLY public.shop_product
    ADD CONSTRAINT shop_product_category_id_14d7eea8_fk_shop_category_id FOREIGN KEY (category_id) REFERENCES public.shop_category(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: shop_productimage shop_productimage_product_id_65b3b20c_fk_shop_product_id; Type: FK CONSTRAINT; Schema: public; Owner: petshop_user
--

ALTER TABLE ONLY public.shop_productimage
    ADD CONSTRAINT shop_productimage_product_id_65b3b20c_fk_shop_product_id FOREIGN KEY (product_id) REFERENCES public.shop_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: shop_review shop_review_product_id_f74dddfd_fk_shop_product_id; Type: FK CONSTRAINT; Schema: public; Owner: petshop_user
--

ALTER TABLE ONLY public.shop_review
    ADD CONSTRAINT shop_review_product_id_f74dddfd_fk_shop_product_id FOREIGN KEY (product_id) REFERENCES public.shop_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: shop_review shop_review_user_id_02dce754_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: petshop_user
--

ALTER TABLE ONLY public.shop_review
    ADD CONSTRAINT shop_review_user_id_02dce754_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: shop_wishlist_products shop_wishlist_products_product_id_017f8a4c_fk_shop_product_id; Type: FK CONSTRAINT; Schema: public; Owner: petshop_user
--

ALTER TABLE ONLY public.shop_wishlist_products
    ADD CONSTRAINT shop_wishlist_products_product_id_017f8a4c_fk_shop_product_id FOREIGN KEY (product_id) REFERENCES public.shop_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: shop_wishlist_products shop_wishlist_products_wishlist_id_7a449092_fk_shop_wishlist_id; Type: FK CONSTRAINT; Schema: public; Owner: petshop_user
--

ALTER TABLE ONLY public.shop_wishlist_products
    ADD CONSTRAINT shop_wishlist_products_wishlist_id_7a449092_fk_shop_wishlist_id FOREIGN KEY (wishlist_id) REFERENCES public.shop_wishlist(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: shop_wishlist shop_wishlist_user_id_131c4a81_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: petshop_user
--

ALTER TABLE ONLY public.shop_wishlist
    ADD CONSTRAINT shop_wishlist_user_id_131c4a81_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

